@charset "utf-8";

/* reset */
html{-webkit-text-size-adjust:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,fieldset,form,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,address,em,i,strong,th{font-style:normal;font-weight:normal}
dl,ul,ol,li{list-style:none}
img{border:0}
fieldset{border:none}
input,label,select,td{vertical-align:middle}
a{text-decoration:none}
a:focus,button:focus,textarea:focus,input:focus,select:focus{outline:none}
input[type=button],select{cursor:pointer}
input[type=button],input[type=submit]{border:none;background:none}
button{border:none;background:transparent}
textarea{line-height:1.8}
table{border-spacing:0}
html,body{min-height:100%}
body{font-size:12px;line-height:1.8;font-family:'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','AppleGothic','돋움',dotum,sans-serif;color:#999}
a,h1,h2,h2,h3,h4,h5,h6,input,textarea,select,button,small{color:inherit;font-size:inherit;font-family:inherit}

/* Layout */
.center-jquery{position:absolute;top:50%;left:50%}
.vertical-middle-jquery{position:absolute;top:50%}
.t-spacing-1{letter-spacing:1px}
.t-spacing-10{letter-spacing:10px}
.mb8{margin-bottom:8px}

.home{text-align:center}
.home h4{font-size:14px;color:#000}
.home .fullpage-section .item{width:90%;max-width:980px;margin:auto}

.ico-arrow-down{display:block;position:absolute;bottom:24px;left:50%;width:24px;height:16px;margin-left:-12px;background:url(../images/coding/ico-arrow-down.svg) no-repeat 50% 50%;background-size:24px 16px;text-indent:-9999px}
.portfolio-list .item{padding-top:48px}
.portfolio-list .item:first-child{padding-top:96px}
.portfolio-list .item:last-child{padding-bottom:96px}
.portfolio-list .wrap-img{position:relative;width:100%;margin-bottom:16px;padding-top:60.306%}
.portfolio-list .wrap-img > div{position:absolute;top:0;right:0;bottom:0;left:0;background-size:contain;background-position:50%,50%;background-repeat:no-repeat}
.portfolio-list .rent{background-image:url(../images/coding/img-rent.png)}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.portfolio-list .rent{background-image:url(../images/coding/img-rent@2x.png)}
}
.portfolio-list .marathon{background-image:url(../images/coding/img-marathon.png)}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.portfolio-list .marathon{background-image:url(../images/coding/img-marathon@2x.png)}
}
.portfolio-list .mbc{background-image:url(../images/coding/img-mbc.png)}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	.portfolio-list .mbc{background-image:url(../images/coding/img-mbc@2x.png)}
}


