@charset "utf-8";

/* reset */
html{-webkit-text-size-adjust:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,fieldset,form,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,address,em,i,strong,th{font-style:normal;font-weight:normal}
dl,ul,ol,li{list-style:none}
a{text-decoration:none}
body{font-size:12px;line-height:1.8;font-family:'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','AppleGothic','돋움',dotum,sans-serif;color:#000}
a,h1,h2,h2,h3,h4,h5,h6,input,textarea,select,button,small{color:inherit;font-size:inherit;font-family:inherit}
img{display:block;height:auto;border:0}

/* Layout */
#header{position:relative;width:80%;max-width:1400px;margin:0 auto;padding:60px 0;overflow:hidden}
#header li{float:left;margin-right:20px}
#header li.selected{padding-bottom:5px;border-bottom:1px solid #ccc}
#header li a{font-family:dotum;color:#333}

#listWrap{padding:50px 0;overflow:hidden}
#list{position:relative;width:80%;max-width:1400px;margin:0 auto;overflow:hidden}
#list li{display:block;position:relative;float:left;height:100%}
#list li .wrap{position:relative;width:100%;height:100%}
#list li .wrap a{display:block;position:absolute;height:100%}
#list li .wrap a h3{font-weight:normal;font-size:12px}
#list li .wrap a span{display:block}

#textWrap{text-align:left}
#text{width:80%;max-width:1400px;margin:0 auto;padding:70px 0}
#text h3{margin-bottom:10px;color:#333}
#text p{margin-top:10px}
#text span{display:block;margin-top:20px;font-size:12px}
#text a{display:block;margin-top:10px;text-decoration:underline}
/*#imgWrap{overflow:hidden;padding:50px 0 0}
#imgWrap img{clear:both;margin:0 auto}*/

#viewWrap{background:#f8f8f8}
#viewWrap.bg-gray{background:#e6e6e6}
#viewWrap.bg-dark{background:#222326;color:#999}
#viewWrap.bg-dark .textbox h3{color:#fff}
#viewWrap li{position:relative;overflow:hidden}
#viewWrap li img{margin:0 auto}
.textbox{position:relative;margin-top:5%;margin-bottom:5%}
.textbox h3,.textbox p,.inbox h3,.inbox p{width:80%;max-width:1400px;margin:0 auto}
.inbox{position:absolute;top:0;width:100%;margin-top:5%}

#footNav{position:relative;width:80%;height:100px;max-width:1400px;margin:0 auto;overflow:hidden}
#footNav li{float:left;width:33.33%}
#footNav li a{display:block;padding:40px 0;color:#333;text-align:center}
#footNav li a:hover{background:#333;color:#fff}
#footNav .prev,#footNav .next{font-size:14px;font-weight:bold}
#footer{position:relative;overflow:hidden;padding:60px 0}
#footer h1{float:none;width:80%;max-width:1400px;margin:0 auto;font:normal 14px Helvetica;color:#333;text-align:right}

.ptb50{padding-top:5%;padding-bottom:5%}
.pt50{padding-top:5%}
.pb50{padding-bottom:5%}
.pb100{padding-bottom:10%}
@media only screen and (max-width:1024px){
#listWrap img{max-width:100%}
#list li{margin-top:20px}
#list li .wrap{margin-bottom:80px}
#list li .wrap a{top:0;left:0;width:100%}
#list li .wrap a h3{margin-top:103%;color:#333}
#list li .wrap a span{color:#aaa}

.fit img{max-width:80%}
.resize img{position:relative;left:-25%;width:150%;display:block}
}
@media only screen and (max-width:768px){
#footNav{width:100%}
}
@media only screen and (max-width:480px){
.one{width:100%}
.two{width:100%}
}
@media only screen and (min-width:481px) and (max-width:768px){
.one{width:48.37%}
.two{width:100%}
.box2{margin-right:3.26%}
}
@media only screen and (min-width:769px) and (max-width:1024px){
.one{width:31.7%}
.two{width:65.85%}
.box1,.box4,.box7{margin-right:2.45%}
}
@media only screen and (min-width:1025px){
@font-face{font-family:'notokr-demilight';src:url('../font/notokr-demilight.eot');src:url('../font/notokr-demilight.eot?#iefix') format('embedded-opentype'),url('../font/notokr-demilight.woff') format('woff'),url('../font/notokr-demilight.ttf') format('truetype');font-weight:normal;font-style:normal}
body,a,h3{font-family:dotum,sans-serif}
img{max-width:100%}
.one{width:23.92%}
.two{width:49.28%}
.box1,.box4{margin-right:1.42%}
.box2{padding-top:25.4%;*zoom:1}
.box2:after {content:" "; display:block; clear:both;}
.box3,.box7{clear:both;margin-right:1.42%}
.box6{float:right !important}

#list li{overflow:hidden}
#list li .wrap a{width:90%;padding:5%;background:#1f1f1f;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);transition:opacity 0.3s ease}
#list li .wrap a:hover{opacity:0.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
#list li .wrap a h3{color:#fff}

#text h3,#text p,#text span{width:61.9%}
#text h3{font-size:25px;font-family:'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','AppleGothic','notokr-demilight';font-weight:normal;letter-spacing:-1px}
#text p{font-size:16px;font-family:'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','AppleGothic','notokr-demilight'}

.textbox h3,.textbox p,.inbox h3,.inbox p{font-family:'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','AppleGothic','notokr-demilight';text-align:center}
.textbox h3,.inbox h3{font-size:25px;font-weight:normal}
.textbox p,.inbox p{font-size:16px}
}