@charset "utf-8";

/* reset */
html{-webkit-text-size-adjust:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,fieldset,form,legend,textarea,p,blockquote,th,td,input,select,textarea,button,a{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,address,em,i,strong,th{font-style:normal;font-weight:normal}
dl,ul,ol,li{list-style:none}
a{text-decoration:underline}
body{font-size:12px;line-height:1.8;font-family:'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','AppleGothic','돋움',dotum,sans-serif;color:#000}
a,h1,h2,h2,h3,h4,h5,h6,input,textarea,select,button,small{color:inherit;font-size:inherit;font-family:inherit}

/* Layout */
body{max-width:1280px;margin:0 auto;padding-right:20px;padding-left:20px;padding-bottom:100px}
body > *{overflow:hidden;margin-top:100px}
body > ul > li{list-style:disc;margin-left:16px}
dt,dd{width:100%}
dd{overflow:hidden}
body > dl > dd{position:relative}
@media (max-width:768px){
	body > dl > dd{margin-top:30px}
}
@media (min-width:769px){
	body > dl > dt,body > dl > dd{float:left}
	body > dl > dt{width:15%}
	body > dl > dd{width:85%}
}
body > dl > dd > ul > li{position:relative;margin-top:30px}
body > dl > dd > ul > li:first-child{margin-top:0}
body > dl > dd > ul > li > h3{font-weight:bold}
body > dl > dd > ul > li > span{position:absolute;top:0;right:0;text-align:right}
@media (min-width:621px){
	body > dl > dd > ul > li > small{position:absolute;top:0;right:0;text-align:right}
}
body > dl > dd > ul > li > p{color:#999}
body > dl > dd > ul > li > ul{margin-top:15px}
body > dl > dd > ul > li > ul > li{list-style:disc;position:relative;margin-top:10px;margin-left:16px}
body > dl > dd > ul > li > ul > li:first-child{margin-top:0}
body > dl > dd > ul > li > ul > li > h4{word-break:break-all}
body > dl > dd > ul > li > ul > li > p,body > dl > dd > ul > li > ul > li > ul{color:#999}
body > dl > dd > ul > li > ul > li > span{margin-left:3px;color:#999}
body > dl > dd > ul > li > ul > li > ul > li{position:relative;padding-left:10px}
body > dl > dd > ul > li > ul > li > ul > li:before{content:'-';position:absolute;top:0px;left:0}
@media (max-width:620px){
	body > dl > dd > ul > li > ul > li > h4{display:inline;vertical-align:top}
}
@media (min-width:621px){
	body > dl > dd > ul > li > ul > li > span{position:absolute;top:0;right:0}
}
body > dl > dd > span{position:absolute;top:0;right:0}
img{width:100px;height:100px;border-radius:50%}
